.card {
    background-color: #1E1F21;
    box-shadow: 5px 10px 18px #ffffff;
    margin: 0px 30px 0px 30px;
    padding: 20px 0px 20px 0px;
}

.card h2 {
    color: #B9CBE3;
}

.card .form-label {
    color: #fff
}

.card .form-control {
    background-color: #282C32;
    color: #fff;
}

.card .form-control::placeholder {
    color: #797979
}

.card .btn {
    background-color: #B9CBE3;
    color: #1E1F21;
}

.button-helper {
    color: #B9CBE3;
}
