.bg {
    background-color: #141414;
    color: white;
}
.button-login {
    background-color: #B9CBE3;
    color: #000000;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s ease-in;
}

.button-login:hover {
    background-color: bisque;
}
.navbar {
    height: 80px;
    color: #fff;
    background-color: #141414;
    box-shadow: 0px -2px 20px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
}
.navbar .navbar-brand{
    color: #fff;
}
.content-land {
    padding-top: 300px;
    text-align: center;
    color: #B9CBE3;
}
.content-land h2 {
    font-size: 64px;
}
.content-land p {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.content{
    padding: 120px 150px 0px 150px;
}


.button-start {
    background-color: #B9CBE3;
    color: #000000;
    font-size: 14px;
    padding: 16px 40px;
    border-radius: 18px;
    text-decoration: none;
    transition: 0.3s ease-in;
}



.graphBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

/* Navbar */
.navbar2 {
    height: 80px;
    padding: 30px 150px 30px 150px;
    transition: 0.3s ease-in;

}

.main-content {
    padding-top: 90px;

    padding: 0px 150px 0px 150px;
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 60px;
    box-sizing: border-box; /* Pastikan padding tidak memengaruhi lebar */
}

.box {
    background-color: #e9ecef;
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-container {
    margin-top: 50px;
  }

  .graph h1 span {
    color: #0d6efd; /* Warna teks biru */
  }

  .profile-img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .badge-custom {
    background-color: #ffc107; /* Warna emas */
    color: #000;
    font-size: 14px;
  }

  .btn-custom {
    background-color: #e7e7e7;
    border: none;
    color: #000;
  }

@media screen and (max-width: 1024px) {
    .main-content {
        margin-left: 200px; /* Sesuaikan dengan sidebar lebih kecil */
        width: calc(100% - 200px); /* Sesuai ruang tersisa */
        padding: 15px;
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        margin-left: 60px; /* Sesuaikan dengan sidebar kecil */
        width: calc(100% - 60px); /* Sesuaikan dengan layar kecil */
        padding: 10px;
    }

}

@media screen and (max-width : 480px) {
    .sidebar{
        width: 60px;
    }
    .sidebar .menu{
        display: none;
    }
    .sidebar .nav-link{
        justify-content: center;
        padding-left: 0px;
    }
    .sidebar .nav p{
        display: none;
    }
    .navbar2 {
        margin-left: 60px;
        height: 100px;

    }
    .navbar2 .navbar-brand{

        width: 20px;
    }
    .main-content {
        margin-left: 60px; /* Sidebar tetap kecil */
        width: calc(100% - 60px); /* Maksimalkan ruang tersisa */
        padding: 5px;
        gap: 10px;
    }

    .main-content h2 {
        font-size: 24px; /* Font judul kecil */
        text-align: center;
    }

    .main-content p {
        font-size: 14px;
        text-align: justify;
    }

    .box {
        padding: 10px;
        margin-bottom: 10px;
    }

}


