body {
    background-color: #141414;
}

.card {
    background-color: #1E1F21;
    border: none;

}

.form-control,
.form-select {
    background-color: #282C32;
    color: white;
    border: none;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    border-color: #5c636a;
}

.left,
.form-right,
.form-control::placeholder {
    color: #D7E1ED
}

.right .card {
    height: 575px;
}

.left .card {
    height: 272px;
}

.moduls button {
    width: 100%;
    margin-bottom: 10px;
    background-color: #282C32;
    border: none
}

rect {
    fill: #B9CBE3
}
